<div class="hero-card hero-card--light hero-nav-item ripple-animation" id="about">
    <div class="modal modal-light" id="about-modal">
        <header class="modal-header" id="about-header">
            <div class="modal-header-inner">
                <button></button>
                <h2>About</h2>
            </div>
        </header>
        <div class="modal-body" id="about-body">

        </div>
    </div>
</div>

@code {

}
