<section class="section">
    <div class="container container--column">
        <Logo Size="big"></Logo>
        <div class="hero">
            <div class="hero-intro">
                <div class="hero-card hero-card--light z-3">
                    <span class="text">Hamzi Alsheikh</span>
                </div>
                <div class="hero-card hero-card--dark z-2">
                    <span class="text">Software Developer</span>
                </div>
                <div class="hero-card hero-card--light z-1">
                    <span class="text">Mechatronics Engineer</span>
                </div>
            </div>
            <div class="hero-list">
                <div class="hero-card hero-card--light hero-nav-item">
                </div>
                <div class="hero-card hero-card--dark hero-nav-item">
                </div>
                <div class="hero-card hero-card--light">
                </div>
                <div class="hero-card hero-card--dark hero-nav-item">
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Inject] IJSRuntime JSRuntime { get; set; }
    IJSObjectReference AnimeJsModule;

    protected async override Task OnInitializedAsync()
    {
        AnimeJsModule = await JSRuntime.InvokeAsync<IJSObjectReference>(
                "import", "./js/modules/animejsModule.js");
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await AnimeJsModule.InvokeVoidAsync("InitAnimeJs");
        }
    }
}
