@implements IAsyncDisposable

<section class="section">
    <div class="container container--column">
        <Logo Size="big" Clickable="true" HomeClicked="TransitionToHome"></Logo>
        <div class="hero">
            <div class="hero-intro">
                <div class="hero-card hero-card--light z-3">
                    <span class="text">Hamzi Alsheikh</span>
                </div>
                <div class="hero-card hero-card--dark z-2">
                    <span class="text">Software Developer</span>
                </div>
                <div class="hero-card hero-card--light z-1">
                    <span class="text">Mechatronics Engineer</span>
                </div>
            </div>
            <div class="hero-list">
                <SkillsSection></SkillsSection>
                <WorkSection></WorkSection>
                <AboutSection></AboutSection>
                <ContactSection></ContactSection>
            </div>
        </div>
    </div>
</section>

@code {
    [Inject] IJSRuntime JSRuntime { get; set; }
    IJSObjectReference AnimeJsModule;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AnimeJsModule = await JSRuntime.InvokeAsync<IJSObjectReference>(
               "import", "./js/modules/animejsModule.js");

            await AnimeJsModule.InvokeVoidAsync("PageTransition", "home");
        }
    }

    private async Task TransitionToHome()
    {
        await AnimeJsModule.InvokeVoidAsync("PageTransition", "home", true);
    }

    public async ValueTask DisposeAsync()
    {
        await AnimeJsModule.DisposeAsync();
    }
}
