<div class="modal modal-dark" id="work-modal">
    <header class="modal-header" id="work-header">
        <div class="modal-header-inner">
            <button></button>
            <h2>Work</h2>
        </div>
    </header>
    <div class="modal-body" id="work-body">
    </div>
</div>

@code {

}
