.logo {
    display: block;
    position: absolute;
    top: 1em;
    z-index: 4;
    left: $layout-padding + 4;
    background: $logo-primary;
    color: $logo-secondary;
    padding: .5em 2em;
    border-radius: 1em;
    -webkit-box-shadow: 10px 10px 0px 0px rgba($logo-thrid,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba($logo-thrid,1);
    box-shadow: 10px 10px 0px 0px rgba($logo-thrid,1);

    &--big {
        span {
            font-weight: bold;
            font-size: 2em;
        }
    }

    &--small {
        span {
            font-weight: bold;
            font-size: 1em;
        }
    }

    span {
        transition: letter-spacing .5s $main-easing;

        &:hover {
            letter-spacing: 2px;
        }
    }
}

.toggler-button {
    position: relative;

    &.nav-clicked {
        .toggler-icon {

            .toggler-icon--inner {
                background: transparent;

                &:before {
                    top: 0;
                    transform: rotate(45deg);
                }

                &:after {
                    bottom: 0;
                    transform: rotate(135deg);
                }
            }
        }
    }

    .toggler-icon {
        position: relative;
        left: 4px;
        margin: auto;
        height: $nav-icons-font-size + 0.5;
        width: $nav-icons-font-size;

        .toggler-icon--inner {
            position: absolute;
            height: .2em;
            width: 100%;
            border-radius: .2em;
            background: $sidenav-icon;
            top: 50%;
            margin-top: -.1em;
            transition: transform .2s ease-in-out, opacity .2s ease-in-out, background .2s ease-in-out;

            &:before {
                display: block;
                content: "";
                position: inherit;
                top: -.65em;
                height: inherit;
                width: inherit;
                border-radius: inherit;
                background: $sidenav-icon;
                transition: transform .2s ease-in-out, top .2s ease-in-out;
            }

            &:after {
                display: block;
                content: "";
                position: inherit;
                bottom: -.65em;
                height: inherit;
                width: inherit;
                border-radius: inherit;
                background: $sidenav-icon;
                transition: transform .2s ease-in-out, bottom .2s ease-in-out;
            }
        }
    }
}

.modal {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    &-dark {
        .modal-header {
            background: white;

            h2 {
                color: $logo-primary !important;
            }
        }
    }

    &-light {
        .modal-header {
            background: $logo-primary;

            h2 {
                color: white !important;
            }
        }
    }

    .modal-header {
        position: relative;
        align-self: flex-start;
        padding: 1em 4em 1em;
        transform: skewX(-20deg);
        left: -1.5em;
        border-bottom-right-radius: 1em;
        margin-bottom: .5em;

        .modal-header-inner {
            display: inline-flex;
            flex-flow: row;
            align-items: center;
            transform: skewX(20deg);

            button {
                margin-right: 2em;
                border-radius: 50%;
                width: 3em;
                height: 3em;

                &:before {
                    @extend .las;
                    content: la-content($la-arrow-left);
                    color: $logo-primary !important;
                }
            }

            h2 {
                color: $logo-primary;
                font-size: 3em;
                margin: 0;
            }
        }
    }

    .modal-body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 1em 2em;
        overflow-y: auto;
        max-height: 31em;
    }
}
