#contact-form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    .form-title {
        display: block;
        margin-bottom: 1em;
    }

    .input-wrapper {
        display: flex;
        flex-flow: column;
        width: 49%;
        margin-bottom: 2em;
        position: relative;

        .validation-message {
            bottom: -1.5em;
            right: 0;
            position: absolute;
            padding: .5em 1em;
            background: red;
            color: white;
            border-radius: 1em;
            font-size: .8em;
            align-self: flex-end;
            opacity: 0;
            animation: FadeIn .5s $main-easing forwards;

            &:before {
                position: relative;
                @extend .las;
                content: la-content($la-times-circle);
                color: white;
                margin-right: .5em;
            }
        }

        .form-input {
            display: flex;
            flex-flow: row;
            align-items: stretch;
            cursor: pointer;
            position: relative;

            i {
                position: absolute;
                left: 1em;
                top: 50%;
                transform: translateY(-50%);
                color: $logo-primary;
                transition: color .3s ease-in-out;
            }

            label {
                position: absolute;
                z-index: 1;
                left: 3em;
                top: 50%;
                transform: translate(0,-50%);
                color: dimgray;
                transition: top .3s ease-in-out, transform .3s ease-in-out, color .3s ease-in-out;
                cursor: pointer;
                font-size: .9em;
            }

            input, textarea {
                display: block;
                border: none;
                outline: none;
                cursor: pointer;
                width: 100%;
                padding: 1.5em 2.5em;
                background: white;
                border-radius: 1em;
                transition: box-shadow .3s ease-in-out;

                &.modified, &:focus {

                    & + i {
                        & + label {
                            color: $logo-primary;
                            top: 0.15em;
                            transform: translate(-1.3em,0) scale(.8);
                        }
                    }
                }

                &.invalid {
                    box-shadow: 0 0 0 4px red;

                    & + i {
                        color: red;

                        & + label {
                            color: red;
                        }
                    }
                }
            }
        }

        &--full {
            width: 100%;

            .form-input {
                textarea {
                    resize: none;

                    &.modified, &:focus {
                        & + i {
                            & + label {
                                color: $logo-primary;
                                top: 0.15em;
                                transform: translate(-1.8em,0) scale(.8);
                            }
                        }
                    }

                    &.invalid {
                        box-shadow: 0 0 0 4px red;

                        & + i {
                            color: red;

                            & + label {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }

    .form-button {
        display: inline-flex;
        background: white;
        padding: 1em 2em;
        border-radius: 2em;
        margin-left: auto;
        position: relative;
        border: 2px solid white;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        span {
            color: $logo-primary;
            font-weight: bold;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: 2;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            border: 2px solid transparent;
            border-top-color: white;
            display: none;
            font-size: 1.5em;
            animation: FadeIn 2.5s $main-easing forwards, la-spin 2s linear infinite;
            color: white;
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: .5em;
            height: .5em;
            background: $logo-primary;
            transform: scale(0);
            content: "";
            z-index: 1;
            transition: transform 2s $main-easing;
            border-radius: 2em;
        }

        &.loading {
            &:before {
                transform: scale(50);
            }

            &:after {
                display: block;
            }
        }
    }
}

.status-message {
    position: absolute;
    top: 0;
    left: 50%;
    transition: transform .5s $main-easing;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    padding: 1em;
    border-radius: 1em;
    background: $logo-primary;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    &.Success {
        background: green;
    }

    &.Error {
        background: red;
    }

    &.slide-upwards {
        transform: translate(-50%, -120%);
    }

    &.slide-downwards {
        transform: translate(-50%, 10%);
    }

    .content {
        display: flex;
        align-items: center;
        color: white;
        margin: 0 1em;
    }

    button {
        background: none;
        border: none;
    }
}
