.hero {
    display: flex;
    justify-content: center;
    height: $section-height;
    padding: $layout-padding;
    position: relative;

    .hero-intro {
        margin: auto 0;
        font-weight: bold;
    }

    .hero-list {
        position: absolute;
        top: 2em;
        right: 1em;
        display: flex;
        flex-flow: column;
        width: 5em;

        .hero-card {
            left: 1em;
            width: 2em;
            height: 2em;
            margin-bottom: 2em;            

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 5em;
            }

            &:nth-child(3) {
                top: 10em;
            }

            &:nth-child(4) {
                top: 15em;
            }
        }
    }

    .hero-card {
        padding: 2em;
        position: absolute;
        width: 2em;
        height: 2em;
        opacity: 0;
        border-radius: 50%;
        overflow: hidden;

        &.hero-nav-item {
            width: 3em;
            height: 3em;
            padding: 0;
        }

        .text {
            font-size: $hero-font-size;
            position: relative;
            bottom: -65%;
            opacity: 0;
        }

        &--dark {
            background: $hero-card-dark;
            color: white;

            .las {
                color: white;
            }
        }

        &--light {
            background: $hero-card-light;
            color: black;

            .las {
                color: black;
            }
        }

        &.z-1 {
            z-index: 1;
            top: $top-slide-space + 30;
            left: $left-slide-space + 4;
        }

        &.z-2 {
            z-index: 2;
            top: $top-slide-space + 15;
            left: $left-slide-space + 2;
        }

        &.z-3 {
            z-index: 3;
            top: $top-slide-space;
            left: $left-slide-space;
        }
    }
}
