@page "/"

    <Hero></Hero>
    <Skills></Skills>
    <Work></Work>
    <About></About>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor nec feugiat nisl pretium. Eu volutpat odio facilisis mauris sit. Viverra maecenas accumsan lacus vel facilisis volutpat. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Fusce id velit ut tortor. Amet est placerat in egestas erat imperdiet. Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Neque viverra justo nec ultrices. Massa sapien faucibus et molestie ac. Tristique senectus et netus et malesuada fames ac turpis. Ac feugiat sed lectus vestibulum.

        Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Mauris sit amet massa vitae tortor condimentum lacinia. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Convallis a cras semper auctor neque vitae tempus quam pellentesque. Non consectetur a erat nam at lectus urna duis convallis. Tortor id aliquet lectus proin nibh. Massa sapien faucibus et molestie ac feugiat sed. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Quam quisque id diam vel quam elementum pulvinar etiam non. Urna porttitor rhoncus dolor purus.

        Ut faucibus pulvinar elementum integer enim neque volutpat ac. Amet consectetur adipiscing elit duis tristique. In nibh mauris cursus mattis. Lorem mollis aliquam ut porttitor leo a diam sollicitudin. Malesuada fames ac turpis egestas sed tempus urna. Amet consectetur adipiscing elit ut. Elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Praesent semper feugiat nibh sed. Ultricies integer quis auctor elit sed. Sed risus pretium quam vulputate dignissim suspendisse in est. Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Posuere lorem ipsum dolor sit.

        Amet dictum sit amet justo donec enim diam vulputate. Proin libero nunc consequat interdum varius sit amet. Vivamus arcu felis bibendum ut tristique. Fringilla ut morbi tincidunt augue interdum velit euismod in. Vitae justo eget magna fermentum iaculis eu non diam. Dui id ornare arcu odio. Magna fringilla urna porttitor rhoncus dolor purus non enim. Eget nullam non nisi est sit amet facilisis. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Faucibus nisl tincidunt eget nullam non nisi. Justo eget magna fermentum iaculis eu non diam. Dignissim suspendisse in est ante in nibh mauris cursus.

        Dictum at tempor commodo ullamcorper. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Risus viverra adipiscing at in. Eu turpis egestas pretium aenean pharetra magna ac. Ornare lectus sit amet est. Tellus cras adipiscing enim eu turpis. Elit scelerisque mauris pellentesque pulvinar pellentesque. Rhoncus aenean vel elit scelerisque mauris. Cras tincidunt lobortis feugiat vivamus at. Suspendisse sed nisi lacus sed viverra tellus in. Morbi tristique senectus et netus et malesuada. Non arcu risus quis varius quam. In ornare quam viverra orci sagittis. Malesuada nunc vel risus commodo viverra.
    </p>