@inherits LayoutComponentBase
@using HMZ_V3.Shared.MainSection.Contact
@using HMZ_V3.Shared.MainSection.Other

<StatusMessage></StatusMessage>

<Logo Size="big"></Logo>

<Navbar></Navbar>
<main>
    <BackgroundSVG></BackgroundSVG>
    <Eye></Eye>

    <div class="main">
        @Body
    </div>
    <Footer></Footer>
</main>
