@inherits LayoutComponentBase
@using HMZ_V3.Shared.MainSection.Contact

<StatusMessage></StatusMessage>

<Logo Size="big"></Logo>

<Navbar></Navbar>
<main>
    <div class="main">
        @Body
    </div>
    <Footer></Footer>
</main>
